.hero {
    min-height: 105vh;
    background-image: url(../images/avengers-endgame.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        min-height: 59vh;
    }

    @media (max-width: 320px) {
        min-height: 26vh;
    }
   
    &__content {
        min-width: 45%;
        min-height: 45%;
        position: absolute;
        top: 60%;
        margin-left: 27.5%;
        background-image: url(../images/logo.png);
        background-size: 100%;
        background-repeat: no-repeat;
        transition: 1.5s;

        @media (max-width: 768px) {
            top:33%;
        }

        @media (max-width: 320px) {
            top:13%;
        }

        &:hover {
            transform: scale(1.05);
            transition: 1s;
        }
    }
}