.hero {
    
    min-height: 105vh;
    background-image: url(../images/avengers-endgame.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
   
    &__content {
        min-width: 45%;
        min-height: 45%;
        position: absolute;
        top: 60%;
        margin-left: 27.5%;
        background-image: url(../images/logo.png);
        background-size: 100%;
        background-repeat: no-repeat;
        transition: 1.5s;

        &:hover {
            transform: scale(1.05);
            transition: 1s;
        }
    }
}