@use 'variaveis';
@use 'hero';
@use 'characters';
@use 'footer';



@font-face {
    font-family: marvel;
    src: url(../../assets/fonts/marvel.otf);
}

@font-face {
    font-family: studios;
    src: url(../../assets/fonts/studios.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corTextoPrincipal;
}
